* {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
	background-color: whitesmoke;
	color: #2d4059;
}

a {
	color: #2d4059;
}

#navigation-bar,
#home,
#feature1,
#feature2,
#footer {
	padding: 0 15%;
}

.flex-container {
	display: flex;
	align-items: center;
}

hr {
	background-color: #2d4059;
	height: 2px;
	border: none;
}

/* Navigation Bar css */
#main-logo {
	height: 100px;
	width: 240px;
}

.nav-items {
	margin: 10px 20px;
}

.right-align {
	margin-left: auto;
}

.nav-items {
	font-size: 1.2rem;
	text-decoration: none;
	border-color: transparent;
}

.nav-items:hover {
	transition: 0.1s;
	border: solid #2d4059;
	border-width: 0 0 1px 0;
	scale: 1.05;
}

.nav-button {
	margin-left: 15px;
	border-radius: 100px;
	border-color: white;
	background-color: black;
	color: white;
	width: 140px;
	height: 50px;
}

.nav-button:hover {
	transition: 0.5s;
	font-weight: bold;
	border-radius: 100px;
	border-color: black;
	background-color: whitesmoke;
	color: #2d4059;
	width: 140px;
	height: 50px;
}
/* Navigation css */

/* Homepage css */
#home {
	margin-top: 45px;
	display: flex;
	align-items: center;
}

.main-title-form {
	align-items: center;
	display: flex;
}

.main-text {
	position: relative;
	left: 100px;
	bottom: 50px;
	width: 25%;
	font-size: 2.7rem;
	font-weight: 700;
	z-index: 9;

	/* temp */
	pointer-events: none;
}

.input-passion {
	width: 300px;
	height: 70px;
	padding: 5px 15px;
	border: none;
}

.input-passion::placeholder {
	font-size: 1rem;
}

.main-title-input-button {
	padding: 5px 15px;
	border: none;
	background-color: #2d4059;
	width: 80px;
	height: 80px;
	font-size: 1.1rem;
	color: white;
	font-weight: bold;
}

.main-title-input-button:hover {
	background-color: antiquewhite;
	color: #2d4059;
}

#not-ideal-1 {
	display: flex;
	gap: 3rem;
	width: 100%;
	max-width: 45vw;
}

.hero-card {
	display: flex;
	position: relative;
	flex-basis: 200px;
	flex-shrink: 1;
	flex-grow: 0;
	transition: 0.5s;
	transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
	border-radius: 25px;
	overflow: hidden;
}

.hero-card .img-container {
	width: 100%;
	min-height: 500px;
	transition: 0.5s;
	overflow: hidden;
	position: relative;
}

.hero-card.hovered,
.hero-card:hover {
	/* width: 100%; */
	flex-grow: 1;
}

.right-desc {
	content: "100";
	position: absolute;
	bottom: 5%;
	right: 10%;
	color: white;
	font-size: 3rem;
	opacity: 0;
	transition: 300ms;
}

.hero-card.hovered .right-desc,
.hero-card:hover .right-desc {
	/* width: 100%; */
	opacity: 1;
}

.hero-card.hovered .right-desc::after,
.hero-card:hover .right-desc::after {
	/* width: 100%; */
	content: "TOPICS";
	position: absolute;
	left: 50%;
	font-size: 1rem;
	translate: -50% 0;
	bottom: 5px;
}

.hero-card .img-container img {
	display: block;
	width: 450px;
	/* max-height: 500px; */
	object-fit: cover;
	position: absolute;
	left: 50%;
	translate: -50% 0;
}

.hero-card .img-container::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.5) 0%,
		rgba(0, 0, 0, 0) 100%
	);
}

.hero-card .desc {
	position: absolute;
	bottom: 5%;
	left: 5px;
	color: white;
	font-size: 3rem;
	rotate: 180deg;
	writing-mode: vertical-rl;
	text-orientation: mixed;
}

.desc p {
	margin: unset;
}

/* Homepage css */

/* Feature 1 css */
#feature1-title {
	font-size: 2.4rem;
	display: block;
	text-align: center;
	margin-bottom: 5px;
}

#feature1 hr {
	width: 30%;
	margin-bottom: 30px;
}

.feature-container {
	margin-bottom: 45px;
}

#feature1-list {
	display: flex;
	width: fit-content;
	margin: 0 auto;
}

#feature1-list li {
	display: inline;
	margin: 0 15px;
	font-size: 1.2rem;
}

#feature1-list li a {
	text-decoration: none;
	opacity: 0.8;
}

#feature1-list li a:hover {
	transition: 0.15s;
	border: solid #2d4059;
	border-width: 0 0 1px 0;
	opacity: 1;
}

.default-btn {
	font-weight: bold;
	opacity: 1;
	border: solid #2d4059;
	border-width: 0 0 1px 0;
}

.feature1-flex-container {
	display: flex;
	align-items: baseline;
	gap: 35px;
}

.feature1-flex-container div img {
	width: 300px;
	border-radius: 15px;
}

.feature1-flex-container div h3 {
	font-size: 1.5rem;
	font-weight: 400;
	margin: 5px 0px 3px 0px;
}

.feature1-flex-container div p {
	margin-top: 7px;
	font-weight: 300;
}

.f-image1 {
	position: relative;
}

.quick-nav-btn {
	position: absolute;
	overflow: hidden;
	right: 15px;
	z-index: 9;
	padding: 0;
}

.quick-nav-back-btn {
	background-color: white;
	border-radius: 50%;
	padding: 9px 7.5px 7px 7.5px;
	margin: 15px 0;
	transform: translateY(-100px);
	transition: 0.3s;
}

.camera-nav-btn {
	background-color: white;
	border-radius: 50%;
	padding: 9px 7.5px 7px 9.5px;
	transform: translateY(-100px);
	transition: 0.3s;
}

.f-image1:hover .quick-nav-back-btn,
.f-image1:hover .camera-nav-btn {
	transform: translateY(-10px);
}

.f-image1:hover h3,
.f-image1:hover p,
.f-image1:hover img {
	transition: 0.2s;
	color: rgb(82, 116, 108);
	font-weight: bold;
	scale: 1.1;
}

.f-image1:hover img {
	opacity: 0.8;
}

/* Feature 1 css */

/* Feature 2 css */
.feature2-main-container {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
}

.main-title {
	font-size: 1.6rem;
	width: 55%;
}

.main-desc {
	font-size: 1.4rem;
	font-weight: 500;
	width: 45%;
	color: #00000075;
}

@media screen and (max-width: 1080px) {
	.main-title {
		width: 100%;
	}
	.main-desc {
		width: 100%;
	}
}

.achievements {
	background-color: rgb(163, 163, 20);
	padding: 5px 15px;
	width: 90%;
	border-radius: 15px;
	text-align: center;
	position: relative;
	top: 25px;
}

.achievements hr {
	rotate: 90deg;
	width: 5%;
	transform: translateX(5px);
}

.achievements h1,
.achievements p,
.achievements hr {
	display: inline-block;
	text-align: center;
	justify-content: center;
	font-size: 1.15rem;
	color: rgb(255, 255, 255);
}

.list-of-skills {
	margin-right: 35px;
}

.leadership,
.responsibility,
.flexibility {
	display: flex;
	align-items: center;
}

.star-icon,
.responsibility-icon,
.flexibility-icon {
	text-align: center;
	padding: 15px;
	display: inline-block;
	background-color: white;
	border-radius: 50%;
	width: 40px;
	height: 30px;
	margin-right: 15px;
}

.star-icon i,
.responsibility-icon i,
.flexibility-icon i {
	padding: 15px 0 1px 0;
}

.flexibility-icon {
	text-align: center;
}

.skill-text {
	margin-left: 15px;
	display: inline-block;
	width: max-content;
}

.skill-text h3 {
	font-size: 1.2rem;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 7px;
}

.skill-text p {
	color: rgba(0, 0, 0, 0.527);
	font-size: 1.15rem;
	font-weight: 300;
	margin-top: 7px;
}

.body-container {
	display: flex;
	width: 100%;
	align-items: center;
}

.rand-video {
	width: 100%;
}

/* Feature 2 css */

/* Testimonial css */
#testimonial {
	position: relative;
	overflow: hidden;
	margin-top: 100px;
}

.testimonial-title {
	text-align: center;
	font-size: 1.7rem;
	padding: 0 10vw;
	font-weight: 500;
	margin-bottom: 30px;
	text-transform: capitalize;
}

.testimonial-container {
	display: flex;
	overflow-y: auto;
	scroll-behavior: smooth;
	max-height: 300px;
}

.testimonial-container::-webkit-scrollbar {
	display: none;
}

.slider-controls {
	padding: 2% 15%;
	text-align: center;
}

.prev-btn,
.next-btn {
	position: relative;
	height: 5vh;
	width: 3.75vw;

	border: solid rgba(0, 0, 0, 0.2);
	border-width: 0.5px;
	border-radius: 50%;

	justify-content: center;
	align-items: center;
	background: transparent;
	cursor: pointer;

	margin: 10px 15px;
}

.prev-btn {
	left: 0;
}

.next-btn {
	right: 0;
}

.prev-btn i,
.next-btn i {
	opacity: 0.2;
}

.prev-btn:hover i,
.next-btn:hover i {
	transition: 0.3s;
	opacity: 1;
}

.prev-btn:hover,
.next-btn:hover {
	transition: 0.3s;
	opacity: 1;
	border: solid #000;
	border-width: 0.5px;
}

.testimonial-card {
	flex: 0 0 auto;
	width: 280px;
	display: inline-block;
	background-color: white;
	border-radius: 15px;
	padding: 15px 35px;
	margin-right: 15px;
}

.testimonial-comments {
	color: gray;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
	font-size: 1.1rem;
}

.person-details {
	display: flex;
}

.person-details p {
	margin: 0 0 5px 0;
}

.person-details div {
	margin: auto 0;
}

.testimonial-person-image {
	border-radius: 50%;
	height: 60px;
	width: 60px;
	margin-right: 15px;
}

.person-job-title {
	color: cadetblue;
	font-weight: bold;
}

.collection-container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
}

.collection {
	position: relative;
}

.collection img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.collection:nth-child(3) {
	grid-column: span 2;
	margin-bottom: 10px;
}
/* Testimonial css */

/* Footer css */
#footer {
	position: relative;
	overflow: hidden;
	margin-top: 35px;
}

.footer-container-1 {
	display: flex;
	width: 100%;
	align-items: center;
}

.logo {
	margin: 0 auto 0 auto;
}

.logo img {
	width: 17.5vw;
}

.quick-nav {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
}

.quick-nav a {
	margin: 5px 25px;
	text-decoration: none;
}

.quick-nav a:hover {
	border: solid #000;
	border-width: 0 0 1px 0;
	scale: 1.05;
}

.join-com-form {
	display: flex;
}

.join-com-textfield {
	width: 200px;
	font-size: 1rem;
	height: 40px;
	padding: 5px 10px;
	border: none;
}

.join-com-btn {
	width: 3vw;
	border: none;
	background-color: lightsalmon;
}

.join-com-btn:hover {
	background-color: antiquewhite;
	transition: 0.3s;
}

.copyright {
	font-size: 1.2rem;
	padding-left: 15px;
	margin: 0 auto 0 0;
}

.footer-container-2 {
	display: flex;
	width: 100%;
	align-items: center;
}

.socials-list {
	list-style: none;
	text-decoration: none;
}

.socials-list li {
	display: inline;
	margin: 0 15px;
}

/* Footer css */
